//Cart
.CartItem__section {
  background-image: linear-gradient(rgb(115, 0, 255) 30%, blue);
  padding: 1%;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.CartItem__div {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  height: 50%;
  width: 100%;
}
//Cart

.CartItemMsg__Container {
  height: 80vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(rgb(115, 0, 255) 30%, blue);
}

.CartItemMsg {
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  padding: 2%;
  margin: 2%;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  font-size: 1.5em;
  @media screen and( max-width: 500px) {
    font-size: 1.2em;
  }
  @media screen and( max-width: 300px) {
    font-size: 1em;
  }
}

.CartItem__categorias {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  width: 80%;
  border: 3px solid black;
  border-radius: 15px;
  background-color: white;
  height: 20%;
  li {
    text-align: center;
    width: 20%;
    padding: 1%;
    font-size: 1.5em;
    border-right: 1px solid black;
    @media screen and (max-width: 1000px) {
      font-size: 1.2em;
    }
  }
}

//orden
.generarOrden {
  width: 30%;
  background-color: white;
  font-size: 2em;
  text-decoration: none;
  border-radius: 25px;
  margin: 0%;
  color: black;
  box-shadow: 5px 5px 5px black;
  border: 2px solid black;
}
