// ItemListContainer
.div__ILC {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  height: 80vh;
  padding: 1%;
  box-sizing: border-box;
  background-image: linear-gradient(rgb(115, 0, 255) 30%, blue);
  @media screen and (max-width: 1136px) {
    padding: 5%;
    height: auto;  }

  // ItemList
  ul {
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    margin: 1%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    @media screen and (max-width: 500px) {
      margin-top: 10%;
    }
    @media screen and (max-width: 350px) {
      margin-top: 20%;
    }
    @media screen and (max-width: 200px) {
      margin-top: 28%;
    }
    // Item
    li {
      box-sizing: border-box;
      border: 2px solid rgb(132, 0, 255);
      background-color: black;
      color: black;
      width: 20em;
      margin: 2%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-radius: 25px;
      box-sizing: border-box;
      padding: 1%;
      @media screen and (max-width: 1136px) {
        width: 22em;
      }
      @media screen and (max-width: 600px) {
        width: 19em;
      }
      @media screen and (max-width: 400px) {
        width: 17em;
      }
      @media screen and (max-width: 350px) {
        width: 15em;
      }
      h3 {
        font-size: 20px;
        background-color: white;
        color: black;
        padding: 2%;
        width: 60%;
        border-radius: 15px;
        text-align: center;
        font-size: 1.5rem;
        @media screen and (max-width: 1136px) {
          font-size: 1.2rem;
        }
        @media screen and (max-width: 600px) {
          font-size: 1rem;
        }
        @media screen and (max-width: 400px) {
          font-size: 0.8rem;
        }
      }

      p {
        background-color: rgba(255, 255, 255, 0.425);
        padding: 2%;
        width: 40%;
        border-radius: 15px;
        color: white;
        font-size: 1.2rem;
        @media screen and (max-width: 1136px) {
          font-size: 1rem;
        }
        @media screen and (max-width: 600px) {
          font-size: 0.8rem;
        }
        @media screen and (max-width: 400px) {
          font-size: 0.7rem;
        }
      }
      img {
        width: 200px;
        height: 200px;
        border-radius: 10px;
        box-shadow: 10px 10px 10px black;
        @media screen and (max-width: 1136px) {
          width: 180px;
          height: 180px;
        }
        @media screen and (max-width: 600px) {
          width: 160px;
          height: 160px;
        }
        @media screen and (max-width: 400px) {
          width: 140px;
          height: 140px;
        }
        @media screen and (max-width: 200px) {
          width: 120px;
          height: 120px;
        }
        @media screen and (max-width: 160px) {
          width: 105px;
          height: 105px;
        }
      }

      a {
        background-color: rgb(119, 0, 255);
        color: white;
        padding: 2%;
        width: 40%;
        border-radius: 15px;
        margin: 2%;
        font-size: 1em;
        @media screen and (max-width: 500px) {
          font-size: 0.7em;
        }
      }
    }
  }
}
